<%
//    console.log(get_site_data())
//console.log(site.data)
let layout;
if (page.layout) {
    layout = page.layout;
} else if (page.__index) {
    layout = page.layout = "index";
} else if (page.title) {
    layout = "post";
} else if (page._isBlogList) {
    layout = "blog";
}
let title = "";
let cssfilename = "";
if (layout == "post") {
    title = page.title + __("post.page_title_suffix");
    cssfilename = "article.css";
} else if (layout == "manual") {
    title = page.title + __("about.page_title_suffix");
    cssfilename = "manual.css";
} else if (page.maintype == "about") {
    if (layout == "about/index") {
        title = __("about.page_title");
    } else if (layout == "about/changelog"){
        title = __("about.page_changelog_title");
    } else if (layout == "about/become_developer") {
        title = __("about.page_become_developer_title")
    } else if (layout == "about/become_partner") {
        title = __("about.page_become_partner_title")
    } else if (layout == "about/become_sponsor") {
        title = __("about.page_become_sponsor_title")
    }
    cssfilename = "about.css";
} else if (layout == "team") {
    cssfilename = "team.css";
    title = __("team.page_title");
}  else if (layout == "index") {
    cssfilename = "index.css";
    title = __("index.page_title");
} else if (layout == "blog") {
    cssfilename = "blog.css";
    title = __("blog.page_title");
} else if (layout == "apiindex") {
    title = "欢迎访问 zendAPI 接口文档栏目";
    cssfilename = "api.css";
} else if (layout == "apimodules") {
    title = "模块文档索引页-zendAPI";
    cssfilename = "api.css";
} else if (layout == "apinamespaces") {
    title = "名称空间文档索引页-zendAPI";
    cssfilename = "api.css";
} else if (layout == "apiglobals") {
    title = " 全局定义文档索引页-zendAPI";
    cssfilename = "api.css";
} else if (layout == "apifiles") {
    title = "所有文件文档索引页-zendAPI";
    cssfilename = "api.css";
} else if (layout == "apiclasscontent") {
    title = page.cls.name + " 类详细文档";
    cssfilename = "api.css";
} else if (layout == "apinamespacecontent") {
    title = page.namespace.name + " 名称空间详细文档";
    cssfilename = "api.css";
} else if (layout == "apimodulecontent") {
    title = page.module.name + " 模块详细文档";
    cssfilename = "api.css";
} else if (layout == "apifilecontent") {
    title = page.file.name + " 文件详细文档";
    cssfilename = "api.css";
}
%>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="ZZU_SOFTBOY">
<meta name="description" content="libpdk - The fundamental runtime framework of php language">
<meta name="keywords" content="libpdk, php, framework, web, artisans, ZZU_SOFTBOY, runtime framework, native library">
<title><%- title %></title>
<link rel="icon" href="/libpdk.ico" type="image/ico"/>
<link rel="stylesheet" href="/statics/js/uikit/css/uikit.min.css" />
<link rel="stylesheet" href="/statics/css/base.css" />
<% if (cssfilename)  {%>
<link rel="stylesheet" href="/statics/css/<%- cssfilename %>" />
<%}%>
<script type="text/javascript" src = "/statics/js/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src = "/statics/js/uikit/js/uikit.min.js"></script>
<script type="text/javascript" src = "/statics/js/uikit/js/uikit-icons.min.js"></script>
<% if (layout == "manual" || layout == "post") { %>
<script type="text/javascript" src = "/statics/js/highlight/highlight.pack.js"></script>
<link rel="stylesheet" href="/statics/js/highlight/styles/railscasts.css" />
<% } %>
