<%
let menuItems = site.data.category;
%>
<div id="header-wrapper" class="uk-container uk-margin-remove uk-container-expand site-header" uk-sticky="show-on-up: true; animation: uk-animation-slide-top;">
    <nav class="uk-navbar-container uk-margin-remove" uk-navbar>
        <div class="uk-navbar-left">
            <div class="logo">
                <a href = "/" class="logo-img">libpdk</a>
            </div>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav uk-visible@m">
                <%
                for(let index in menuItems) {
                %>
                <li><a href="<%- menuItems[index].url %>"><%- menuItems[index].name %></a></li>
                <%
                }
                %>
            </ul>
            <ul class="uk-navbar-nav uk-hidden@m">
                <li><button class="nav-menu" data-uk-icon="icon: menu" uk-toggle="target: #offcanvas-push"></button></li>
            </ul>
        </div>
    </nav>
</div>
